<!DOCTYPE html>
<html>
  <head>
    <title>Is it on</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
    <script src="http://code.jquery.com/jquery.js"></script>

    <style type="text/css">
    .fullwidth{
      width: 100%;
      text-align: center;
    }

    .biglink{
      font-size: 24px;
    }
    </style>
  </head>
  <body>
  <div class="container">
    <div class="row">
      <div class="span8 offset2">
        <center><h1>Is It On</h1></center>
        <center><h3>a quick tool to find music on youtube on other services</h3></center>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="span8 offset2">
        <input type="text" class="fullwidth" placeholder="youtube link">
        <br>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="span8 offset2">
        <center><a href="#" id="searchLink" class="biglink">find it</a></center>
        <br>
      </div>
    </div>

    <div class="row">
      <div class="span8 offset2">
        <div id="response">

        </div>
        <script type="text/javascript">
          $('#searchLink').click(function(){
            $('#response').empty();
            var link = $('input').val();
            if (link.indexOf("youtube.com/watch?v=") !== -1)
            {
              if (link.indexOf('http://') !== -1)
                link = link.replace("http://", "");
              else if (link.indexOf('https://') !== -1)
                link = link.replace("https://", "");
              if (link.indexOf('www.') !== -1)
                link = link.replace("www.", "");

              link = link.replace("youtube.com/watch?v=", "");

              $.ajax({
                url: "https://gdata.youtube.com/feeds/api/videos/" + link + "?v=2&alt=json"
              }).done(function (data){
                title = data.entry.title.$t;
                $.ajax({
                  url: "/search/" + title
                }).done(function (data){
                  if (data.rdio_url != "" || data.spotify_url != "")
                  {
                    $('#response').append("<center><h4>your music may be available here:</h4></center>")
                    console.log(data);
                    if (data.rdio_url)
                      $('#response').append("<center><a href='" + data.rdio_url + "'>rdio</a>");
                    if (data.spotify_url)
                      $('#response').append("<center><a href='" + data.spotify_url + "'>spotify</a>");
                  }
                  else
                    $('#response').append("<center><h4>hmm, we couldn't find anything. It might be our problem though, you can always try searching manually.</h4></center>")
                })
              })
            }
            else
              $('#response').append("<center><h4>oops! is that a youtube link?</h4></center>")
          })
        </script>
      </div>
    </div>    
  </div>
  </body>
</html>